@import "typography/_typography.scss";
@import "textfield/_textfield.scss";
@import "button/_button.scss";
@import "ripple/_ripple.scss";

body {
    padding: 1em;
}

.mdl-textfield {
    display: block;
    transition: opacity 500ms, margin-top 250ms ease-out;

    &.hidden {
        opacity: 0;
        pointer-events: none;
        margin-top: calc(-16px - 40px - 8px);
    }
}
