$color-primary: "51, 118, 184";
// $color-accent: #00ffff;
$color-primary-dark: "255,0, 255";

@import "typography/_typography.scss";
@import "textfield/_textfield.scss";
@import "button/_button.scss";
@import "ripple/_ripple.scss";



body {
    padding: 1em;

    main {
        display: flex;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

}

.login {

    & > section {
        width: 300px;
    }

    & > aside {
        img {
            height: 300px;
            margin-left: 100px;
        }

        @media only screen and (max-width: 800px) {
            img {
                display: none;
            }
        }
    }

}


h4 {
    color: rgb(51, 118, 184);

    img {
        height: 1.25em;
        vertical-align: sub;
        margin-right: .75ch;
    }
}

p.error {
    color: $input-text-error-color;
}

.mdl-textfield {
    display: block;
    transition: opacity 500ms, margin-top 250ms ease-out;

    &.hidden {
        opacity: 0;
        pointer-events: none;
        margin-top: calc(-16px - 40px - 8px);
    }
}
